{% extends "layout/layout.twig" %}
{% from "macros.twig" import class_link, namespace_link, method_link, property_link %}
{% block title %}Index | {{ parent() }}{% endblock %}
{% block body_class 'doc-index' %}

{% block page_content %}

    <div class="page-header">
        <h1>Index</h1>
    </div>

    <ul class="pagination">
        {% for letter in 'A'..'Z' %}
            {% if items[letter] is defined and items[letter]|length > 1 %}
                <li><a href="#letter{{ letter|raw }}">{{ letter|raw }}</a></li>
            {% else %}
                <li class="disabled"><a>{{ letter|raw }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>


    {% for letter, elements in items -%}
        <h2 id="letter{{ letter|raw }}">{{ letter|raw }}</h2>
        <dl id="index">
            {%- for element in elements %}
                {%- set type = element[0] %}
                {%- set value = element[1] %}
                {%- if 'class' == type -%}
                    {%- if value.isInterface %}
                        {%- set class_type = 'interface' %}
                    {%- elseif value.isAbstract %}
                        {%- set class_type = 'abstract' %}
                    {%- elseif value.isTrait %}
                        {%- set class_type = 'trait' %}
                    {%- else %}
                        {%- set class_type = 'class' %}
                    {%- endif %}
                    <dt class="index-item"><span
                                class="badge badge-{{ class_type }}">{{ class_type }}</span>{{ class_link(value) }}
                    </dt>
                {%- elseif 'method' == type -%}
                    <dt class="index-item"><span class="badge badge-method">method</span>{{ method_link(value) }}()
                    </dt>
                {%- endif %}
            {%- endfor %}
        </dl>
    {%- endfor %}
{% endblock %}
